.about {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
  h2 {
    font-size: 35px;
    color: #343b49;
    margin-bottom: 20px;
  }
  div {
    max-width: 80%;
    margin-bottom: 20px;
  }
  video {
    margin-top: 20px;
    width: 80%;
  }
}
