.contacts {
  padding: 20px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    font-size: 35px;
    color: #343b49;
  }
  iframe {
    width: 100%;
    margin-top: 20px;
    height: 350px;
    margin-bottom: 20px;
  }
  .contact-form {
    h2 {
      display: none;
    }
  }
}
