header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  box-shadow: 0 0 5px rgba(1, 1, 1, 0.3);
  padding-left: 10px;
  padding-right: 10px;
  nav {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 22px;
    max-width: 1200px;
    width: 100%;
    position: relative;
    .logo {
      margin-right: auto;
      img {
        width: 150px;
      }
    }
    .language-modal {
      display: flex;
      flex-direction: column;
      position: absolute;
      right: -3px;
      top: 60px;
      background-color: #ffffff;
    }
  }
  .pc {
    display: none;
    height: 100%;
    .language-button {
      height: 35px;
      width: 35px;
      font-size: 17px;
      border: 1px solid #000000;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: capitalize;
    }
  }
  .mobile {
    position: relative;
    padding: 10px;
    .sub-menu {
      top: 70px;
      background-color: #ffffff;
      padding: 10px;
      width: 200px;
      border-radius: 10px;
      position: absolute;
      right: -1300px;
      display: flex;
      flex-direction: column;
      transition: right 0.3s ease;
      box-shadow: 0 4px 5px rgba(1, 1, 1, 0.3);
      gap: 10px;
      .language {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        button {
          background-color: #000000;
          color: #ffffff;
          border-radius: 50%;
          width: 35px;
          height: 35px;
          font-size: 17px;
        }
      }
      a {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      &.active {
        right: 5px;
      }
    }
    .burger {
      span {
        width: 30px;
        height: 5px;
        margin: 4px;
        border-radius: 5px;
        display: block;
        transition: transform 0.3s ease;
        background-color: #000000;
      }
      &.active {
        span:nth-of-type(1) {
          transform: rotate(-50deg);
        }
        span:nth-of-type(2) {
          display: none;
        }
        span:nth-of-type(3) {
          transform: rotate(50deg);
          margin-top: -9px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  header {
    .pc {
      display: flex;
    }
    .mobile {
      display: none;
    }
  }
}
